<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eujoh.uoeadminapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UOEAdminApp">
        <activity android:name=".AddLostAndFound"></activity>
        <activity android:name=".LostAndFound" />
        <activity android:name=".ui.lostfound.AddLostFound" />
        <activity android:name=".ui.campusbuzz.AddBuzz" />
        <activity
            android:name=".ui.UserDashboard"
            android:label="@string/title_activity_user_dashboard"
            android:theme="@style/Theme.UOEAdminApp.NoActionBar" />
        <activity android:name=".PassCode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.announcements.AddAnnouncement" />
    </application>

</manifest>